/*--------------------------------------------------------------------------------------------*/
/*Base CSS classes for karlexandra.com travel blog*/

div {
    /*border:1px dotted red;*/
}

html{
    height:100%;
}

body {
    background-color:#ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
	background:url("/image/background.png") repeat-y scroll left top;
	height:100%;
	margin:0;
}

#container {
    min-height:100%;
}

#main {
	width:100%;
	padding-bottom:79px;
}

.clear {
    clear:both;
}

/*--------------------------------------------------------------------------------------------*/

/*---------------SIDEBAR CLASSES---------------*/

#sidebar {
    display:inline-block;
    position:fixed;
    padding-top:105px;
    border: 1px solid #B2AFA9;
    width:155px;
    z-index:997;
    background:white;
    min-height:200px;
	left:0px;
}

#archive, #filterbox {
    margin:0 0 10px 5px;
}

#archive-title {
    background:url("/image/sprites.png") no-repeat scroll -105px -22px transparent;
    width:135px;
    display:inline-block;
}

#tag-title {
    background:url("/image/sprites.png") no-repeat scroll -163px -3px transparent;
    width:105px;
    display:inline-block;    
}

.subtitle {
    font-size:14px;
    font-weight:bold;
}

/*--------------------------------------------------------------------------------------------*/

/*---------------MENU CLASSES---------------*/

#menu {
    border-bottom:1px solid #B2AFA9;
    display:block;
    position:fixed;
    background-color:white;
    width:100%;
    top:0px;
	left:0px;
    height:100px;
    z-index:999;
}

#login-link a {
    background:url("/image/sprites.png") no-repeat scroll -53px -22px transparent;
    width:50px;
}

#login-link a:hover, #login-link a:active, #login-link a:focus  {
    background-position:-53px -112px;
}

#admin-link a {
    background:url("/image/sprites.png") no-repeat scroll 0 -22px transparent;
    width:55px;
}

#admin-link a:hover, #admin-link a:active, #admin-link a:focus {
    background-position:0 -112px;
}

#new-post-link a {
    background:url("/image/sprites.png") no-repeat scroll 0 -3px transparent;
    width:75px;
}

#new-post-link a:hover, #new-post-link a:active, #new-post-link a:focus {
    background-position:0 -93px;
}

#new-photo-link a {
    background:url("/image/sprites.png") no-repeat scroll -77px -3px transparent;
    width:85px;
}

#new-photo-link a:hover, #new-photo-link a:active, #new-photo-link a:focus {
    background-position:-77px -93px;
}

#user {
    display:block;
    margin:5px 0 5px 5px;
}

.m-item {
    height:20px;
    display:inline-block;
}

#logo a {
    background:url("/image/sprites.png") no-repeat scroll 0 -41px transparent;
    height:50px;
    width:320px;
    display:inline-block;
}

#logo a:hover, #logo a:active, #logo a:hover {
    background-position:0 -131px;
}

/*--------------------------------------------------------------------------------------------*/

/*---------------CONTENT CLASSES---------------*/

#content {
    width:74%;
    margin-left:166px;
    margin-right:auto;
	overflow:visible;
    /*padding-bottom:100px;*/
    padding-top:100px;
    height:80%;
	min-height:300px;

}

#f-info {
	padding: 5px 10px 5px;
	border: 1px solid #B2AFA9;
    display: inline-block;
    left: -10px;
    position: relative;
	z-index:998;
	background:white;
}

.title {
    font-size:20px;
    margin:5px 0 10px 0;
    height:20px;
    display:inline-block;
}

.post {
    display:inline-block;
    padding-bottom:13px;
    border-bottom:1px solid #B2AFA9;
    width:100%;
}

.title a {
    text-decoration:none;
    font-size: 20px;
    color:#5393DF;
}

.title a:hover, .title a:active, .title a:focus {
    color:#CF1919;
}

.author ul{
    margin-left:10px;
}

.thumb {
    float:left;
    width:128px;
    margin:10px 10px 10px 0;
    text-align:center;
    display:inline-block;
    vertical-align:middle;
}

.body-link a {
    text-decoration:none;
    color:#5393DF;
}

.body-link a:hover, .body-link a:active, .body-link a:focus {

    color:#CF1919;
}

.p-link {
 
}

.p-body p {
    margin-top:0;
    padding-top:7px;
}

.timg {
    text-align:center;
    vertical-align:middle;
    margin-bottom:10px;
}

.caption {
    clear:both;
    display:inline;
    width:180px;
    font-size:10px;
    text-align:center;
}

.pubdate {

}
    
#drawer {
    display:none;
}

/*--------------------------------------------------------------------------------------------*/
/*---------------FOOTER CLASSES ---------------*/

#footer {
    border-top:1px solid #B2AFA9;
    position:fixed;
    /*margin-top:-100px;*/
    height:80px;
    clear:both;
    width:100%;
	background-color:white;
	padding-left:5px;
}
