body {
    background-color:#ffffff;
}

#content {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

div {
    border:1px dotted red;
}

.p-title {

}

.p-author {
    
}

.p-body {

}

.thumb {
    position:relative;
    display:inline-block;
    margin-left:5px;
    margin-right:5px;
}

.thumb img {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.caption {
    clear:both;
    display:block;
}

.pubdate {

}
